<nav class="grey darken-3">
    <div class="container">
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
         <a href="/" class="brand-logo center">StoryBooks</a>
    </div>
    </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
         <ul class="side-nav" id="mobile-demo">
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </ul>
</nav>
 